
/*공통*/
.rightDiv{float:right;}
.pdT10{padding-top:10px;}

/*회원관리 리스트*/
.searchDiv{padding: 1% 0 5% 0;}
.searchInput{float: left;width:90%;}
.searchInput > form{float: left;}
.searchInput > form > select{float: left;width:30%;margin:0 5px;}
.searchInput > form > input{float: left;width:50%;margin:0 5px 0 0;}
.searchInput > form > button{float: left;width:15%;}

/*입력박스*/
.inputDiv > form > div > label{font-weight:bold;}